<div class="container">
  <img src="../../../assets/img/Action Labs.png" class="logo-img" />
  <hr class="hr-first" />
  <h1>BRL EXCHANGE RATE</h1>

  <div class="search-container">
    <input
      class="main-input"
      id="main-input"
      placeholder="Enter the currency code"
    />
    <button
      class="result-button"
      id="result-button"
      (click)="exchangeResult()"
    >
      EXCHANGE RESULT
    </button>
  </div>

  <div class="result-container">
    <hr class="hr-result" />

    <div class="date-currency">
      <div class="texts">
        <h5>Exchange rate now</h5>
        <span>09/03/2022 - 15h09</span>
      </div>

      <h5 class="currency-acronym">USD/BRL</h5>
    </div>

    <div class="result-value">
      <h1>R$ 5,00</h1>
    </div>

    <div class="show-data">
      <h5>LAST 30 DAYS</h5>
    </div>

  </div>

</div>