<div class="content">
  <div class="container">
    <img src="../../../assets/img/Action Labs.png" class="logo-img" />
    <hr />
    <h1>BRL EXCHANGE RATE</h1>

    <div class="search-container">
      <select class="main-input" id="main-input" [(ngModel)]="selectedCurrencyCode">
        <option value="USD">USD - US dollar</option>
        <option value="EUR">EUR - Euro</option>
        <option value="GBP">GBP - British pounds</option>
        <option value="JPY">JPY - Japanese yen</option>
        <option value="CAD">CAD - Canadian dollar</option>
      </select>
      <button
        class="result-button"
        id="result-button"
        (click)="loadExchangeRates()"
      >
        EXCHANGE RESULT
      </button>
    </div>

    <div class="result-container">
      <hr />

      <div class="date-currency">
        <div class="texts">
          <h5>Exchange rate now</h5>
          <span>{{ currentDate }} - {{ currentTime }}</span>
        </div>

        <h5 class="currency-acronym">{{ selectedCurrencyCode }}/BRL</h5>
      </div>

      <div class="result-value">
        <h1 *ngIf="exchangeRate !== undefined">R$ {{ exchangeRate }}</h1>
      </div>

      <div class="show-data">
        <h5>LAST 30 DAYS</h5>
        <i class="bi bi-plus-lg selector" (click)="toggleItens()" *ngIf="!visibleItens"></i>
        <i class="bi bi-dash-lg selector" (click)="toggleItens()" *ngIf="visibleItens"></i>
      </div>

      <div class="cards" *ngIf="visibleItens">
        <ng-container *ngIf="dailyExchangeRates.length > 0">
          <div class="card" *ngFor="let dailyRate of dailyExchangeRates">
            <p class="date">{{ dailyRate.date | date:'yyyy-MM-dd' }}</p>

            <div class="d-flex flex-row justify-content-between">
              <div class="properties">
                <p class="card-p">Open:</p>
                <p class="card-p-result" [ngStyle]="{'color': dailyRate.closeDiffPercent >= 0 ? '#69C669' : '#E54E4E'}">R$ {{ dailyRate.open }}</p>
              </div>
              <div class="properties">
                <p class="card-p">Close:</p>
                <p class="card-p-result" [ngStyle]="{'color': dailyRate.closeDiffPercent >= 0 ? '#69C669' : '#E54E4E'}">R$ {{ dailyRate.close }}</p>
              </div>
            </div>

            <div class="d-flex flex-row justify-content-between">
              <div class="properties">
                <p class="card-p">High:</p>
                <p class="card-p-result" [ngStyle]="{'color': dailyRate.closeDiffPercent >= 0 ? '#69C669' : '#E54E4E'}">R$ {{ dailyRate.high }}</p>
              </div>
              <div class="properties">
                <p class="card-p">Low:</p>
                <p class="card-p-result" [ngStyle]="{'color': dailyRate.closeDiffPercent >= 0 ? '#69C669' : '#E54E4E'}">R$ {{ dailyRate.low }}</p>
              </div>
            </div>

            <div class="properties">
              <p class="card-p">close diff:</p>
              <p class="card-p-result" [ngStyle]="{'color': dailyRate.closeDiffPercent >= 0 ? '#69C669' : '#E54E4E'}">{{ dailyRate.closeDiffPercent }}%</p>
              <i class="bi bi-arrow-up-short arrow-result" *ngIf="dailyRate.closeDiffPercent >= 0" [ngStyle]="{ color: '#69C669' }"></i>
              <i class="bi bi-arrow-down-short arrow-result" *ngIf="dailyRate.closeDiffPercent < 0" [ngStyle]="{ color: '#E54E4E' }"></i>
            </div>            

          </div>
        </ng-container>
        <div class="no-data" *ngIf="dailyExchangeRates.length === 0">
          No data avaiable.
        </div>
      </div>

      <hr class="hr-result" />

    </div>

  </div>
  <footer [ngClass]="{ 'visible-footer': !isDataLoaded }">
    <p>Copyright {{ currentYear }} - Action Labs</p>
  </footer>
</div>