html, body {
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  flex: 1;
  width: 100%;
  height: 100vh;
}

.logo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0 10px 0;
}

.hr-first {
  color: #D9D9D9;
  margin-bottom: 30px;
}

h1 {
  font-size: 24px;
  font-style: Roboto;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin-bottom: 30px;
  color: #07B0FB;
}

.search-container {
  display: grid;
  padding: 8px;
}

.main-input {
  margin-bottom: 20px;
  height: 40px;
  width: 100%;
  background: #F4F4F4;
  border: none;
  color: #3F3F3F;
  border-bottom: 1px solid #D9D9D9;
}

.main-input::placeholder {
  padding-left: 5px;
  color: #3F3F3F;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.main-input:focus {
  outline: 0;
}

.result-button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 48px;
  border-radius: 100px;
  border: none;
  background: #07B0FB;
  padding: 4px 16px 4px 16px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.result-button:focus {
  outline: 0;
}

.result-button:hover {
  opacity: 0.8;
}

.result-button:active {
  margin-top: 5px;
}

.date-currency {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  margin-bottom: 10px;
}

.texts h5 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #262626;
  margin-bottom: 0px;
}

.texts span {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #333333;
}

.currency-acronym {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  text-align: right;
  text-transform: uppercase;
  color: #07B0FB;
  margin-top: 10px;
}

.result-value {
  width: 100%;
  height: 72px;
  background: rgba(7, 176, 251, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.result-value h1 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #07B0FB;
  margin-top: 30px;
}

.show-data {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}

.show-data h5 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  color: #262626;
}

.selector {
  width: 24px;
  height: 24px;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #07B0FB;
}

.hr-result {
  height: 2px;
  background: #07B0FB;
  margin-top: 0px;
}

.cards {
  width: 100%;
  background: #F4F4F4;
  padding: 10px;
}

.card {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 10px;
  margin: 5px 0 5px 0;
}

.properties {
  display: flex;
}

.date {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #07B0FB;
}

.card-p {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #3F3F3F;
  margin-right: 5px;
}

.card-p-result {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #3F3F3F;  
}

.arrow-result {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.hr-result {
  color: #E5E5E5;
}

footer {
  background: #07B0FB;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  min-height: 30px;
}

.visible-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  padding-top: 12px;
}