<div class="content">
  <div class="container">
    <img src="../../../assets/img/Action Labs.png" class="logo-img" />
    <hr />
    <h1>BRL EXCHANGE RATE</h1>

    <div class="search-container">
      <input
        class="main-input"
        id="main-input"
        placeholder="Enter the currency code"
      />
      <button
        class="result-button"
        id="result-button"
        (click)="exchangeResult()"
      >
        EXCHANGE RESULT
      </button>
    </div>

    <div class="result-container">
      <hr />

      <div class="date-currency">
        <div class="texts">
          <h5>Exchange rate now</h5>
          <span>09/03/2022 - 15h09</span>
        </div>

        <h5 class="currency-acronym">USD/BRL</h5>
      </div>

      <div class="result-value">
        <h1>R$ 5,00</h1>
      </div>

      <div class="show-data">
        <h5>LAST 30 DAYS</h5>
        <i class="bi bi-plus-lg selector" (click)="toggleItens()" *ngIf="!visibleItens"></i>
        <i class="bi bi-dash-lg selector" (click)="toggleItens()" *ngIf="visibleItens"></i>
      </div>

      <div class="cards" *ngIf="visibleItens">
        <div class="card">
          <p class="date">09/03/2022</p>

          <div class="d-flex flex-row justify-content-between">
            <div class="properties">
              <p class="card-p">Open:</p>
              <p class="card-p-result">R$ 5.0666</p>
            </div>
            <div class="properties">
              <p class="card-p">Close:</p>
              <p class="card-p-result">R$ 5.0038</p>
            </div>
          </div>

          <div class="d-flex flex-row justify-content-between">
            <div class="properties">
              <p class="card-p">High:</p>
              <p class="card-p-result">R$ 5.0689</p>
            </div>
            <div class="properties">
              <p class="card-p">Low:</p>
              <p class="card-p-result">R$ 4.9836</p>
            </div>
          </div>

          <div class="properties">
            <p class="card-p">close diff (%):</p>
            <p class="card-p-green">-1.15%</p>
            <i class="bi bi-arrow-down-short arrow-result"></i>
          </div>

        </div>
        <div class="card">
          <p class="date">09/03/2022</p>

          <div class="d-flex flex-row justify-content-between">
            <div class="properties">
              <p class="card-p">Open:</p>
              <p class="card-p-result">R$ 5.0666</p>
            </div>
            <div class="properties">
              <p class="card-p">Close:</p>
              <p class="card-p-result">R$ 5.0038</p>
            </div>
          </div>

          <div class="d-flex flex-row justify-content-between">
            <div class="properties">
              <p class="card-p">High:</p>
              <p class="card-p-result">R$ 5.0689</p>
            </div>
            <div class="properties">
              <p class="card-p">Low:</p>
              <p class="card-p-result">R$ 4.9836</p>
            </div>
          </div>

          <div class="properties">
            <p class="card-p">close diff (%):</p>
            <p class="card-p-green">-1.15%</p>
            <i class="bi bi-arrow-down-short arrow-result"></i>
          </div>

        </div>
        <div class="card">
          <p class="date">09/03/2022</p>

          <div class="d-flex flex-row justify-content-between">
            <div class="properties">
              <p class="card-p">Open:</p>
              <p class="card-p-result">R$ 5.0666</p>
            </div>
            <div class="properties">
              <p class="card-p">Close:</p>
              <p class="card-p-result">R$ 5.0038</p>
            </div>
          </div>

          <div class="d-flex flex-row justify-content-between">
            <div class="properties">
              <p class="card-p">High:</p>
              <p class="card-p-result">R$ 5.0689</p>
            </div>
            <div class="properties">
              <p class="card-p">Low:</p>
              <p class="card-p-result">R$ 4.9836</p>
            </div>
          </div>

          <div class="properties">
            <p class="card-p">close diff (%):</p>
            <p class="card-p-green">-1.15%</p>
            <i class="bi bi-arrow-down-short arrow-result"></i>
          </div>

        </div>
      </div>

      <hr class="hr-result" />

    </div>

  </div>
  <footer [ngClass]="{ 'visible-footer': !visibleItens }">
    <p>Copyright 2022 - Action Labs</p>
  </footer>
</div>